.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-image: url('/img/i3X_Background-100.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features h3 {
  color: white;
}
